.best-offer {

  background-color: #fefefe;

  &__top {
	background:url(../img/best-offer-bg.jpg) no-repeat center top;
  	background-size: cover;
  	padding-top: 40px;
  	padding-bottom: 200px;

    @media all and (max-width:991px) {
      padding-top: 20px;
      padding-bottom: 105px;
    }
  }
  &__title {
  	text-align: center;
  	font-family: AudiTEBold;
  	font-size: 32px;
  	letter-spacing: -0.01em;
  	color: #ffffff;

    @media all and (max-width:991px) {
      font-size: 18px;
    }
  }
  &__nav {
  	display: flex;
  	flex-wrap: nowrap;
  	justify-content: center;
  	list-style: none;
    padding-bottom: 10px;

    position: relative;
    z-index: 5;

    @media all and (max-width:991px) {
      overflow: scroll;
      justify-content: flex-start;
      padding-left: 0;
    }
  }
  &__nav-item {
  	color: #b6b1a9;
  	font-family: AudiTEBold;
  	font-size: 16px;
  	padding: 7px 35px;
    letter-spacing: 0.1em;

    @media all and (max-width:991px) {
      font-size: 14px;
      padding: -10px 20px;
    }

  	a {
  		color: #b6b1a9;
      padding-top: 3px;
      padding-bottom: 3px;
  	}

  	&.active a {
  		color: #ffffff;
      border-bottom: 2px solid #ffffff;
  	}
  }
  &__main {
    margin-top: -200px;
    position: relative;
    z-index: 3;

  }

  &__slider-inner {
    @include media-breakpoint-down($mobile_version) {
      padding: 0;
    }
  }
}
.preference__block .inline__header {
  background: #fefefe;
  margin: 0;
  padding: 30px;

  @media all and (max-width:767px) {
    padding: 10px;
  }
}