.model-menu {
	background-color: #000000;

	&__inner {
		padding: 0 50px;

		@media all and (max-width:1199px) {
			padding: 0 5px;
		}
	}

	&__models {
		margin: 0;
		/* justify-content: flex-start; */
		@include media-breakpoint-down($mobile_version) {
			padding: 20px 15px;
		}
		@media all and (max-width:1199px) {
			padding: 12px 0;
		}
	}
	&__item {
		margin-right: 65px;
		font-family: AudiTENormal;
		letter-spacing: 0.1em;

		@media all  and (max-width:991px) {
			margin-right: 40px;
		}
	}	
	&__item a {
		color: #b2b2b2;
		font-size: 16px;
		font-family: AudiTEBold;
		letter-spacing: 0.1em;
		display: inline-block;
    padding-top: 3px;
    padding-bottom: 3px;

		@media all and (max-width:1199px) {
			font-size: 14px;
		}

		&:hover {
			color: #ffffff;
		}
	}
	&__item--active a {
		color: #ffffff;
		border-bottom: 2px solid #b6b1a9;
	}
	&__model-row {
		margin-right: 100px;
		white-space: nowrap;
		font-family: AudiTEBold;

		@media all  and (max-width:991px) {
			margin-right: 40px;
		}

		a {
			letter-spacing: 0;
		}
	}
	&__item {
		@include media-breakpoint-down($mobile_version) {
			display: block;
		}
	}
}