.question2 {
	text-align: center;
	margin-bottom: 60px;

	@include media-breakpoint-down($mobile_version) {
      margin-top: 10px;
      margin-bottom: 30px;
    }
    &__content {
    	@include media-breakpoint-down($mobile_version) {
    		margin-top: 15px;
    	}
    }

	&__title {
		line-height: 1.5;

		a {
			color: #bb0a30;
		}
	}
	&__text {
		max-width: 530px;
		margin: auto;
		line-height: 1.5;
	}
	&__form {
		.row {
			max-width: 650px;
			margin: auto;
			margin-top: 50px;
			margin-bottom: 20px;

			@include media-breakpoint-down($mobile_version) {
				margin-top: 15px;
				margin-bottom: 10px;
			}
		}
	}
	&__privacy {
		max-width: 365px;
		margin: auto !important;
		text-align: left;
	}
	&__btn-submit {
		height: 100%;
	}
}
.question2 input[type=tel], .question2 input[type=text] {
	border: 1px solid #949494;

	@media all and (max-width:991px) {
		margin-bottom: 10px;
	}
}
.question2 input[type=checkbox]+label {
    color: #000000;

    a {
      color: #000000;
      text-decoration: underline;
    }
  }
  