.question2 {
	text-align: center;
	margin-bottom: 60px;

	@include media-breakpoint-down($mobile_version) {
      margin-top: 10px;
      margin-bottom: 30px;
    }
    @media all and (max-width:767px) {
    	margin-top: 20px;
    }
    &__content {
    	@include media-breakpoint-down($mobile_version) {
    		margin-top: 15px;
    	}
    }

	&__title {
		line-height: 1.5;

		a {
			color: #bb0a30;
		}
	}
	&__text {
		max-width: 530px;
		margin: auto;
		line-height: 1.5;
    color: #000000;

		@media all and (max-width:767px) {
			font-size: 14px;
		}
	}
	&__privacy {
		max-width: 365px;
		margin: auto !important;
		text-align: left;
	}
	&__btn-submit {
		height: 100%;
    width: 100%;
    max-width: 100%;
	}

  &__form-inner {
    max-width: 365px;
    margin: auto;
    margin-top: 20px;
      margin-bottom: 20px;

      @include media-breakpoint-down($mobile_version) {
        margin-top: 15px;
        margin-bottom: 10px;
      }
  }
}
.question2 input[type=tel], .question2 input[type=text] {
	border-bottom-color: #000000;
  margin-bottom: 15px;
  max-width: 100%;
  width: 100%;
  color: #000000;

/* 	@media all and (max-width:991px) {
		margin-bottom: 10px;
	} */
}
.question2 input::-webkit-input-placeholder {color:#000000; opacity: 1;}
.question2 input::-moz-placeholder          {color:#000000; opacity: 1;}/* Firefox 19+ */
.question2 input:-moz-placeholder           {color:#000000; opacity: 1;}/* Firefox 18- */
.question2 input:-ms-input-placeholder      {color:#000000; opacity: 1;}
.question2 input[type=checkbox]+label {
    color: #000000;

    a {
      color: #000000;
      text-decoration: underline;
    }
  }
  