.showcase-audi {
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 70px;

  @media all and (max-width: 1199px) {
    padding-top: 15px;
    padding-bottom: 25px;
  }

  &__container {
    @media all and (max-width:991px)  {
      padding-left: 0;
      padding-right: 0;     
    }
  }

  &__model_in_stock {
    background-color: #0d0d0d;   
  }
  &__models {
    justify-content: space-between;
    padding: 8px 120px 8px 28px;

    @include media-breakpoint-down($mobile_version) {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      padding: 0 15px;
    }
    @media all and (max-width:767px) {
      overflow: scroll;
    }
  }
  &__model-item {    

    @include media-breakpoint-down($mobile_version) {
      display: block;
    }

    a {
      color: #868686;
      font-family: AudiTEBold;
      letter-spacing: 0.1em;
      display: inline-block;
      padding-top: 3px;
      padding-bottom: 3px;

      @include media-breakpoint-down($mobile_version) {
        font-size: 14px;
      }

      &:hover {
        color: #ffffff;
      }
    }
  }
  &__model-row a {
    font-family: AudiTEBold;
    color: #ffffff;
    border-bottom: 2px solid #b6b1a9;

    @include media-breakpoint-down($mobile_version) {
      white-space: nowrap;
    }
  }
  &__cars {
    justify-content: space-between;

    @media all and (max-width: 1199px) {
      flex-direction: row;
    }
    @media all and (max-width:991px) {
      flex-direction: column;
    }
  }
  &__item {
    flex-basis: auto;
    width: 49.9%;
    margin: 0;
    display: block;
        padding: 22px 28px;

    &:hover {
      box-shadow: none;
      background-color: #f2f2f2;
      cursor: pointer;

      .showcase-audi__img-bg {
        color: #ffffff;
      }
    }
    @media all and (max-width:991px) {
      width: 100%;
      background-color: #f2f2f2;
      margin-bottom: 10px;
    }



  }
  &__icons {
    display: flex;
    flex-wrap: wrap;

    img {
      margin-right: 10px;

      @media all and (max-width: 575px) {
        height: 37px;
      }
    }
  }
  .showcase-audi__in-stock {
    width: 50px;
    height: 50px;
    line-height: 35px;

    @media all and (max-width: 575px) {
      width: 37px;
      height: 37px;
      line-height: 1.2;
    }
  }
  &__in-stock-text {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    @media all and (max-width: 575px) {
     height: 37px;
    }

  }
  &__head-right {
    display: flex;
    justify-content: flex-end;
  }
  &__photo {
    position: relative;
    margin-top: 10px;
    @media all and (max-width: 575px) {
      padding-top: 30px;
    }
  }
  &__img {
    max-width: 100%;
    display: block;
    margin: auto;
    position: relative;
    z-index: 5;
    padding-top: 15px;
  }
  &__img-bg {
    position: absolute;
    top: -60px;
    right: -15px;
    left: auto;
    z-index: 3;
    font-family: AudiTNormal;
    color: #e5e5e5;
    font-size: 225px;

    @media all and (max-width:991px) {
      color: #ffffff;
    }
    @media all and (max-width: 575px) {
      font-size: 130px;
      top: -20px;
    }
  }
  &__main-info {
    margin-top: 10px;
    align-items: center;

    @media all and (max-width:767px) {
      margin-top: 15px;
      margin-bottom: 0;
    }

    .item__head-header {
      margin-bottom: 0;
      min-height: auto;
      font-size: 26px;
      letter-spacing: -0.01em;

      strong {
        font-size: 26px;
      }
    }
    .item__head-header-text {
      font-size: 16px;

      @media all and (max-width:767px) {
        font-size: 16px;
      }
    }

    &--dop {
      align-items: flex-start;
    }
  }
  &__list {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__btns {
    .btn {
      width: 100%;

      @media all and (max-width:767px) { 
        margin-bottom: 10px;
      }
    }
  }
  &__head {
    align-items: center;
    padding-bottom: 10px;

    @media all and (max-width:991px) {
      padding-left: 20px;
      padding-right: 20px;
    }

    @media all and (max-width: 575px) {
      padding-bottom: 20px;
    }

    h3 {
      margin-bottom: 0;

      @media all and (max-width: 1199px) {
        font-size: 21px;
      }
      @media all and (max-width:767px) {
        margin-bottom: 15px;
      }
    }
  }
  &__head-right {
    @media all and (max-width: 1199px) {
      margin-top: 0 !important;

    }
    @media all and (max-width: 575px) {
      
    }

    .btn {
      @media all and (max-width: 1199px) {
        width: auto;
      }
      @media all and (max-width: 575px) {
        width: 100%;
      }
      
    }
  }

  .item__head-header {
    @media all and (max-width:767px) {
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 13px;

      strong {
        font-size: 16px;
      }
    }
  }
  .showcase__item .showcase__item__list li {
    @media all and (max-width:767px) {
      font-size: 14px;
      line-height: 1.3;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }

}