.showcase-audi {
  overflow: hidden;

  &__model_in_stock {
    background-color: #0d0d0d;   
  }
  &__models {
    justify-content: space-between;
    padding-right: 120px;

    @include media-breakpoint-down($mobile_version) {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      overflow: scroll;
      padding: 0 15px;
    }
  }
  &__model-item {
    @include media-breakpoint-down($mobile_version) {
      display: block;
    }
  }
  &__model-row a {
    font-family: AudiTENormal;
    color: #bb0a30;

    @include media-breakpoint-down($mobile_version) {
      white-space: nowrap;
    }
  }
  &__cars {
    justify-content: space-between;

    @media all and (max-width: 1199px) {
      flex-direction: row;
    }
    @media all and (max-width:991px) {
      flex-direction: column;
    }
  }
  &__item {
    flex-basis: auto;
    width: 49.9%;
    margin: 0;
    display: block;
        padding: 22px 28px;

    &:hover {
      box-shadow: none;
      background-color: #f2f2f2;
      cursor: pointer;

      .showcase-audi__img-bg {
        color: #ffffff;
      }
    }
    @media all and (max-width:991px) {
      width: 100%;
    }


  }
  &__icons {
    display: flex;
    flex-wrap: wrap;

    img {
      margin-right: 10px;
    }
  }
  .showcase-audi__in-stock {
    width: 50px;
    height: 50px;
    line-height: 35px;
  }
  &__in-stock-text {
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 5px;
  }
  &__head-right {
    display: flex;
    justify-content: flex-end;
  }
  &__photo {
    position: relative;
    margin-top: 10px;
  }
  &__img {
    max-width: 100%;
    display: block;
    margin: auto;
    position: relative;
    z-index: 5;
    padding-top: 15px;
  }
  &__img-bg {
    position: absolute;
    top: -60px;
    right: -15px;
    left: auto;
    z-index: 3;
    font-family: AudiTNormal;
    color: #e5e5e5;
    font-size: 225px;
  }
  &__main-info {
    margin-top: 10px;
    align-items: center;

    .item__head-header {
      margin-bottom: 0;
      min-height: auto;
      font-size: 26px;
      letter-spacing: -0.01em;
    }
    .item__head-header-text {
      font-size: 20px;
    }

    &--dop {
      align-items: flex-start;
    }
  }
  &__list {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__btns {
    .btn {
      width: 100%;
    }
  }
}