<%= _.template(require('./../includes/header.html'))({}) %>

<%= _.template(require('./../includes/model-menu.html'))({}) %>
<%= _.template(require('./../includes/model-banner.html'))({}) %>

<%= _.template(require('./../includes/car-shop.html'))({}) %>

<%= _.template(require('./../includes/best-offers.html'))({}) %>

<%= _.template(require('./../includes/cars/preference.html'))({}) %>
<%= _.template(require('./../includes/question.html'))({}) %>
<%= _.template(require('./../includes/credit.html'))({}) %>

<%= _.template(require('./../includes/map.html'))({}) %>

<%= _.template(require('./../includes/footer.html'))({}) %>
<%= _.template(require('./../includes/modal.html'))({}) %>
<%= _.template(require('./../includes/modal-service.html'))({}) %>
<%= _.template(require('./../includes/script.html'))({}) %>
</body>
</html>