.inline__header{
  margin:60px 0;
}
.inline__header-h{
  @include extbold30;
  text-align: center;
  margin: 0;
}
.preference{
  background:url("../img/background_preference.png") center center no-repeat;
  background-size: cover;
  padding: 90px 0;
}
.preference__image{
  text-align: center;
}
.preference__text-head{
  margin-top: 0;
  margin-bottom: 32px;
  @include extbold30;
  color: #fff;
}
.preference__icon{
  display: block;
  @include normal18;
  color: #fff;
  margin-bottom: 7px;
  padding: 6px 0 6px 35px;
  &::before{
    display: inline-block;
    margin-right: 10px;
    vertical-align: text-top;
  }
  &.test {
    background: url("../img/icon_test.png") no-repeat left center;
  }
  &.cafe {
    background: url("../img/icon_cafe.png") no-repeat 3px center;
  }
  &.atmosphere {
    background: url("../img/icon_atm.png") no-repeat left center;
  }
  &.child {
    background: url("../img/icon_child.png") no-repeat left center;
  }
  &.biblio {
    background: url("../img/icon_biblio.png") no-repeat left center;
  }
  &--venue {
    background:  url("../img/geofence-small.png") no-repeat left center;
  }
  &--oneday {
    background:  url("../img/warranty-small.png") no-repeat 3px center;
  }
  &--choise {
    background:  url("../img/used-cars-small.png") no-repeat left center;
  }
  @include media-breakpoint-down($mobile_version) {
      filter: invert(1);
    }
}
@include media-breakpoint-down($mobile_version){
  .inline__header{
    margin:40px 0 20px;
  }
  .preference{
    padding: 15px 0;
    background: none;
  }
  .inline__header-h{
    font-size: 16px;
    text-align: center;
  }
  .preference__image{
    img{
      max-width: 100%;
    }
  }
  .preference__text-head{
    font-size: 16px;
    color: #000;
    margin-top: 20px;
  }
  .preference__icon{
    font-size: 12px;
    // color:#000;
    // &::before{
    //   filter:invert(1);
    // }
  }
}